# SPDX-FileCopyrightText: 2021 Eduard Wolf
#
# SPDX-License-Identifier: Apache-2.0

name: Develop

on:
  schedule:
    - cron: '0 6 * * *'
  pull_request:
  push:
    branches:
      - main

jobs:
  build-root-directory:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        distribution-type: [ "bin", "all", "default" ]
        release-channel: [ "current", "release-candidate", "nightly", "release-nightly" ]
        sha-256-sum: [ "true", "false" ]
        exclude:
          - distribution-type: "default"
            sha-256-sum: "true"

    steps:
      - name: checkout
        uses: actions/checkout@v5.0.1

      - name: Prepare gradle workspace
        run: ${{ github.workspace }}/.github/scripts/test-upgrade-gradle.sh

      - name: Test action
        id: test
        uses: ./
        with:
          distribution-type: ${{ matrix.distribution-type }}
          release-channel: ${{ matrix.release-channel }}
          add-sha-256-sum: ${{ matrix.sha-256-sum }}

      - name: Log output
        run: echo "$ACTION_OUTPUT"
        env:
          ACTION_OUTPUT: ${{ toJSON(steps.test.outputs) }}

      - name: Test gradle version output
        if: ${{ !steps.test.outputs.gradle-version }}
        run: |
          echo "gradle version output is empty"
          exit 1

      - name: Test version information output
        if: ${{ !steps.test.outputs.version-information }}
        run: |
          echo "version information output is empty"
          exit 2

      # should test, if variable
      #- name: Test fixed issues output
      #  if: ${{ !steps.test.outputs.fixed-issues }}
      #  run: |
      #    echo "fixed issues output is empty"
      #    exit 3

      #- name: Test known issues output
      #  if: ${{ !steps.test.outputs.known-issues }}
      #  run: |
      #    echo "known issues output is empty"
      #    exit 4

      - name: Test sha sum feature in gradle file
        if: ${{ matrix.sha-256-sum == 'true' }}
        run: |
          if [ -z $(cat gradle/wrapper/gradle-wrapper.properties | grep distributionSha256Sum) ]; then 
            echo "no distributionSha256Sum found in gradle-wrapper.properties file"
            exit 5
          fi

      - name: Test sha sum feature output
        if: ${{ matrix.sha-256-sum == 'true' && !steps.test.outputs.sha-256-sum }}
        run: |
          echo "no sha sum emitted in output"
          exit 6

      - name: Test no sha sum feature output
        if: ${{ matrix.sha-256-sum == 'false' && steps.test.outputs.sha-256-sum }}
        run: |
          echo "sha sum emitted in output although feature set to 'false'"
          exit 7

      - name: Test distribution type
        if: ${{ matrix.distribution-type != 'default' }}
        run: |
          if [ -z $(cat gradle/wrapper/gradle-wrapper.properties | grep distributionUrl | grep ${{ matrix.distribution-type }}.zip) ]; then 
            echo "couldn't find correct distribution-type in gradle-wrapper.properties file"
            exit 8
          fi

  build-sub-directory:
    runs-on: ubuntu-24.04
    steps:
      - name: checkout
        uses: actions/checkout@v5.0.1

      - name: REUSE compliance check
        uses: fsfe/reuse-action@v6

      - name: create test project directory
        run: mkdir test-project

      - name: Prepare
        working-directory: test-project/
        run: ${{ github.workspace }}/.github/scripts/test-upgrade-gradle.sh

      - name: Test action
        uses: ./
        with:
          working-directory: test-project/
